<%= form_with(model: @story_idea) do |f| %>
  <div>
  <%= f.text_field :title, placeholder: "Title", autofocus: true %></div>
  <div class="mt-3">
  <%#= f.input :story_idea_picture, as: :attachinary, label: "Upload a picture" %>
  </div>
    <%= f.text_area :body, size: "60x6", placeholder: "Your new topic" %>
  <div class="mt-3">
    <%= f.text_field :url, placeholder: 'Enter link to a website.' %><br>
  </div>
  <div class="mt-3">
    <%= f.submit "Submit", class: "btn btn-success btn-xs"  %> &nbsp; 
    <%= link_to "Cancel", :back, class: "btn btn-danger btn-xs" %>
  </div>
<% end %>
