<%= simple_form_for(@homilist) do |f| %>
    <%= f.text_field :name %>
    <%= f.text_field :title %>
    <%= f.text_field :photo %>
    <%= f.submit "Submit"  class: 'btn btn-primary' %>
  </div>
<% end %>
