<h1>Listing homilists</h1>
  <p> <% @homilists.each do |homilist| %>
    <%= homilist.name %>,
    <%= homilist.title %><br>
    <%= homilist.photo %>
    <%= link_to 'Edit', edit_homilist_path(homilist) %> <small>
    <%= link_to ' | Destroy', homilist, data: { turbo_confirm: "Are you sure?", turbo_vnote } %></small></p>
  <% end %>
<br>

<%= link_to 'Add a new preacher', new_homilist_path %>
