<div class="container">
  <div class="row">
    <h1>Saint Paul’s Clergy &amp; Staff</h1>
    <div class="col-md-8 col-sm-12 main-body pe-5">
      <%= cl_image_tag("TomThoeni_gdukok.jpg", width: "295" , class: "float-start pe-3 clearfix" ,
        alt: "Fr. Thoeni photo" ) %>
        <h2 class="text-center mt-4">Rector: The Rev. Dr. <br>Thomas A Thoeni</h2>
        <p class="list text-center"><b>239-643-0197<br>Cell: 813-763-0441</b></p> <br><a
          href="mailto:fathertomt@gmail.com">
          <h4>FatherTomT@gmail.com</h4>
        </a><br>
        <p>Fr. Tom joined St. Paul’s on Nov. 1, 2018, after 15 years as rector of St. Peter's Episcopal Church in Plant
          City, FL. He was installed as rector on Jan. 6, 2019.</p>
        <p> He has lived all but six years of his life in his native state, Florida. He grew up in Jacksonville the
          younger of two children. He earned a bachelor of design degree from the College of Fine Arts at the University
          of Florida. During his years at UF, he was deeply involved at the Chapel of the Incarnation, where he
          discerned his call to the priesthood and met and married his wife, Quincey.</p>
        <p>He attended Seabury-Western Theological Seminary in Evanston, just north of Chicago. There he received his
          master of divinity degree and served as the seminary equivalent of class president, and acquired a reputation
          as a mediator and trusted bridge builder between people of disparate viewpoints.</p>
        <p>After seminary Fr. Tom served churches in Albany, Ga, and Pensacola before being called as rector at St.
          Peter's. As rector there he brought a sense of stability and health, with the areas of buildings and grounds,
          lay ministry, outreach and administration being particularly strengthened.</p>
        <p>In 2012, Fr. Thoeni earned his doctor of ministry in a joint program between Seabury-Western Theological
          Seminary and Church Divinity School of the Pacific in Berkeley, Calif. </p>
        <p class="mb-5">He and Quincey have two sons in college.</p>

        <%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/mugShots/MaryA.jpg", width: "295" ,
          class: "float-start pe-3 mt-4 clearfix" , alt: "Mary Abrams photo" ) %>
          <h2 class="text-center">Deacon: The Rev. Dr. <br>Mary Abrams</h2>
          <p>Deacon Mary joins the Saint Paul's family seasonally. She and her husband, Jan, spend summer in her
            hometown Louisville, KY. "The Episcopal Church has been my spiritual home since I was nine years old," says
            Mary.</p>
          <p>She is retired from a career as an educator, including 30 years as dean of students at Jefferson Community
            College in Louisville. She earned her doctorate in 1986 and became a licensed clinical psychologist.</p>
          <p>She and Jan have a son, Tracy, an animal trainer at the zoo in Louisville.</p>

    </div>
    <!--main_body-->


    <div class="col-md-4 px-4", style="background-color: #e2e2e2;">






      <h1>The Vestry </h1>
      <p> St. Paul's and other Episcopal churches rely on lay persons to engage in a mutual ministry with 
      the ordained clergy to tend to the affairs, both spiritual and temporal, of the parish.</p>
      <p>Vestry meetings are open to all parishioners, and are usually held the third Wednesday
      (new meeting day, as of January 2023) of the month at 6:30 p.m. Notice of the meeting and its 
      agenda are posted a week or so before the meeting.</p>
      <p>Two wardens and the treasurer (who is not necessarily a member of the vestry, as is the present case) 
      along with the rector comprise the executive committee, and they set the agenda. The rector is a member of the 
      vestry by virtue of his office.</p>
      <p>Our senior warden is Steve Carnell. The junior warden is Rich Shea. </p>
      <p>Other members of the vestry are Lee Barron, Nora Broszeit, Tom Connolly, Mary Lou Dogoloff, 
      Peter Lund, Judy Martin and Carol O'Connell. (Carol is our newly appointed parish administrator as well).</p>
      <p>The vestry came to be called that because in olden times parish leadership typically met in 
       space used by priests to don vestments. It is also known as the congregational council.</p>
      <p>It is appropriate and encouraged that anyone in the parish who has ideas or suggestions for the betterment of
        the congregation should bring these concerns to the rector or to any other member of the vestry.</p>

      <h3 class="mt-3"> Non-vestry officer</h3>
      <p>The vestry may appoint a non-vestry member to the very important post of treasurer, who gives periodic reports to 
      the membership regarding the financial condition of the parish. Our church treasurer is Rose Porembo. </p>
      <h3 class="mt-3">Resources for the vestry</h3>
      <p class="mt-3">For a look at some of the resources the Episcopal Church provides for vestry members and
        prospective members, click this link: <%= link_to "Vestry Resource Guide" ,
          ("https://www.forwardmovement.org/Content/Site170/FilesSamples/128978VRGforFMw_00000091059.pdf") %>
      </p>
      <p>For a brushup on <strong><em>Robert's Rules of Order</em></strong> <%= link_to "click on this link", 
      pages_roberts_rules_path %>

    </div>
    <!--sidebar-->
  </div>
  <!--row-->
  <div class="row">
    <div class="col-lg-12 mt-5">
      <h2 class="text-center">Saint Paul's Parish Staff</h2>
      <div class="d-flex justify-content-around mb-5">
        <div class="card">
          <img class="card-img-top">
          <%= cl_image_tag("https://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1687748086/CarolOWeb_uieq8b.jpg", width: "275" ,  alt: "Carol O'Connell photo" ) %>
            <div class="card-body">
              <h4 class="card-title">Carol O'Connell</h4>
              <p class="card-text text-center">Church Administrator<br>
                239-643-0197</p>
            </div>
        </div>


      </div> <!-- container -->