<h1>Ticket Call List</h1>

<p>Running count of tickets sold:
  <%= @pd_tickets.sum(:quantity) %>
</p>

<h2>customers</h2>
<% @pd_tickets.each do |t| %>
  <p><strong>
      <%= t.last_name.titleize %>, <%= t.first_name.titleize %>
    </strong>
    <%= t.email %>, <%= pluralize(t.quantity, 'ticket' ) %>, purchased on <%= t.updated_at.strftime('%A, %B %e, %Y') %>
          at <%= t.updated_at.strftime('%I:%M %p') %>
  </p>
  <% end %>


    <h2>Names & emails of all who have purchased tickets (all events)</h2>
    <% @tickets.each do |ticket| %>
      <div>
        <p>
          <%=ticket.first_name %>
            <%=ticket.last_name %> &nbsp; &nbsp;
              <%=ticket.email%>
        </p>
      </div>

      <% end %>