<div class="container">
  <div class="row  mt-4">
    <div class="col-md-10 offset-md-1">
      <h1>
        <%= @sermon.title %>
      </h1>
      <p><small><%= @sermon.cites %></small>
      </p>
  <div class="float-end ps-5">
    <%= render 'serbox' %>
  </div>
  <div class="sermon">
    <% if @sermon.sermon_body.present? %>
      <%= @sermon.sermon_body.html_safe %>
    <% else %>
      <%= @sermon.content %>
    <% end %>
  </div>
  <div class="mt-3">
    <% if @sermon.audio.present? %>
      <audio controls>
      <source src="<%= @sermon.audio %>" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
    <% end %>
  </div><!--audio -->
  <% if user_signed_in? && current_user.roles.include?("admin") %>
    <%= link_to 'Edit' , edit_sermon_path(@sermon) %>
  <% end %>
  </div><!-- column -->
  </div><!--row -->
</div><!-- container -->