<h1>Members of St. Paul's</h1>


<% @members.each do |m| %>
  <p><strong> <%= m.username %> </strong>,&nbsp;
  <%= m.membership_id %>, &nbsp;<%= m.email %>, &nbsp;<%= m.birthday %> <small>
    <%= link_to 'Edit' , edit_member_path(m) %>
    <%= link_to ' | Delete' , member_path(m), data: { turbo_confirm: "Are you sure?" , turbo_method: :delete } %>
    </small>
  </p>
<% end %>

  <h2> Members in the diaspora </h2>
    <% @diaspora.each do |d| %>
      <p><%=d.username %>
      <%= d.email %>
      <%= link_to 'Edit' , edit_member_path(d) %>
      <%= link_to ' | Delete' , member_path(d), data: { turbo_confirm: "Are you sure?" ,  turbo_method: :delete } %>
      </p>
    <% end %>